# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Testing / cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Database
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# OS
# =========================
.DS_Store
Thumbs.db